<section class="form">
    <h2 class="section-header">{{header}}</h2>
    <form>
        <div>
            <label for="name">Nazwa:</label>
            {{input class="input" type="text" id="name" name="name" required="true" value=pizza.name}}
        </div>
        <div>
            <label for="ingredients">Składnik:</label>
            {{input type="text" id="ingredients" name="ingredients" value=ingredient}}
            <button class="button" {{action "addIngredient" preventDefault=true}}>Dodaj składnik</button>
            <p>Składniki:</p>
            <ul class="no-bullet">
                {{#each ingredients as |ing|}}
                <li class="ingredient-li">{{ing}}<button class="alert button" {{action "removeIngredient" ing preventDefault=true}}>Usuń</button></li>
                {{/each}}
            </ul>
        </div>
        <div class="form-price">
            <label for="price">Cena:</label>
            {{input type="number" id="price" name="price" value=pizza.price}}
        </div>
        <input class="button" type="submit" value={{submit}} {{action "savePizza" pizza preventDefault=true}}>
    </form>
    <div class="error">
        {{#each errMessage as |err|}}
            <p>{{err}}</p>
        {{/each}}
    </div>
</section>